---
date: 2025-01-28T00:00:00.000Z
---

Improvements for these tools:

## add-rssid.js

- consider full range of CLI options
- edit help descriptions once CLI options are fully implemented
- consider adding interactivity to the CLI via inquirer.js

## get-filelist.js

- consider whether this is needed as a separate tool